.week-day {
  --week-day-color-fucsia-200: #f6dee6;
  --week-day-color-brand-secondary: #6f1d5d;
  --week-day-color-gray-100: #f6f6f7;
  --week-day-color-gray-500: #7a7a7a;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: var(--week-day-color-fucsia-200);
  color: var(--week-day-color-brand-secondary);
  font-family: 'Roboto', sans-serif;
}

.week-day--disabled {
  background: var(--week-day-color-gray-100);
  color: var(--week-day-color-gray-500);
}

.week-day__letter {
  font-size: 16px;
  font-weight: 700;
}

.week-day__value {
  font-size: 14px;
  font-weight: 400;
}
