.va-invoices-panel__notice {
  margin: 0;
  font-size: 14px;
  color: #263238;
}

.va-invoices-panel__notice--bold {
  font-weight: 700;
}

.va-invoices-panel__pending-changes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.va-invoices-panel__invoice-notices {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
